<html>
<head>
<title> Login Form </title>   
<link href="https://fonts.googleapis.com/css?family=Krona+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/loginstyle.css">
</head>
<style>
	body {
		background-image: url('https://i.ibb.co/2jgXXLq/bg.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
    margin:0%;
	}
</style>
<body>
    <h1 align="center">SMART SORT TRASH</h1>
  
   <form action="/control-login" method="POST">

    <div id="login-box">
      <div class="left-box">
        <h1> Log In</h1>
          
          <input type="text" name="username" placeholder="Username"/>
          <input type="password" name="password" placeholder="Password"/>
          <div class="container">
          <!-- <input type="submit" name="signup-button" value="Sign Up"/> -->
          <button type="submit">Log-In</button>
        
        </div>
        </div>
        
      </div>
</form>  
</body>          
</html>